.form-control:disabled {
  background-color: #1b1d20;
  color: rgb(255, 255, 255);
}

.mb3 {
  margin-top: 10px;
}

.btnProfile {
  margin: 0px !important;
}

.conteinerMenu {
  background-color: rgb(33, 37, 41) ;
  height: 100vh;
}
.resultsProfile {
  margin: 15px 15px;
}