.page {  
  color: white;
  font-size: calc(10px + 2vmin);  
  display: flex;
  margin: auto;
  flex-direction: row;    
}

.display-5 {
  color: white;
  margin-bottom: 15px;
}

.display-6 {
  font-size: calc(12px + 2vmin);  
}

a {
  text-decoration: none;
  color: white;  
}

a:hover {
  text-decoration: none;
  color: rgb(49, 209, 121);
}

.header {  
  margin:15px 15px; 
  display: flex;
  flex-direction: column;    
}

.inputSearch {
  margin:15px 15px;  
  padding: 5px;
  height: 5vh;
  width: calc(85px + 20vmin);
  font-size: 18px;
  color: #2f6900;
  font-size: 18px;
}

.card {
  margin:15px 15px;  
  padding: 5px;
  height: calc(100px + 40vmin);
  background-color: rgb(39, 40, 43);
  width: calc(90px + 20vmin);   
}
.card:hover {  
  background-color: rgb(54, 55, 59);  
}
.card-img {
  max-width: calc(55px + 20vmin);
  box-shadow: 10px 5px 30px  rgba(0, 0, 0, 0.75);
  margin: 5px;
}
.card-title {
  margin: 10px;
  font-size: calc(2px + 2vmin);
}
.card a {
  margin: 5px;  
  font-size: 2vh;
}
.card-text {
  margin: 10px;
}

.btn-success {		
	cursor:pointer;	
	font-size:18px;	
  margin: 0px 15px;  
  padding: 5px;
  width: calc(85px + 20vmin);
}

@media only screen and (min-width: 720px) {
  div .container {
    display: flex;
    flex-direction: column !important;
    height: 100vh;
  }
  .navbar {
    position: fixed;    
  }
  .navbar-collapse {
    align-items: flex-start;
  }
  .results {
    margin-left: calc(220px + 20vmin);
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;   */
  }
}

@media only screen and (max-width: 719px) {
  .page {
    flex-direction: column;    
  }
  .navbar {
    background-color: transparent !important;
  }
  div .container {
    background-color: rgb(33, 37, 41) ;
    padding: 10px 15px;
    margin: 0;
    position: fixed;
    z-index: 1;
  }
  .results {
    margin-top: 45px;
    margin-left: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;   */
  }
}

div .container {
  width: calc(85px + 35vmin);  
}

.navbar-nav {  
  flex-direction: column !important;  
}

.results h2 {
  margin-top: 20px;
}

.navbar {
  align-items:flex-start;
}

.conteinerSons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.pagesBtn {  
  width: calc(60px + 20vmin);
}

