.page {  
  color: white;
  font-size: calc(10px + 2vmin);  
  display: flex;
  flex-direction: row;    
}

.display-5 {
  color: white;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: white;  
}

a:hover {
  text-decoration: none;
  color: rgb(49, 209, 121);
}

.header {  
  margin:15px 15px; 
  display: flex;
  flex-direction: column;    
}

.inputSearch {
  margin:15px 15px;  
  padding: 5px;
  height: 5vh;
  width: calc(85px + 20vmin);
  font-size: 18px;
  color: #2f6900;
}

.card {
  margin:15px 15px;  
  padding: 5px;
  height: calc(100px + 40vmin);
  background-color: rgb(39, 40, 43);
  width: calc(90px + 20vmin);   
}
.card:hover {  
  background-color: rgb(54, 55, 59);  
}
.card-img {
  max-width: calc(55px + 20vmin);
  box-shadow: 10px 5px 30px  rgba(0, 0, 0, 0.75);
  margin: 5px;
}
.card-title {
  margin: 10px;
  font-size: calc(2px + 2vmin);
}
.card a {
  margin: 5px;  
  font-size: 2vh;
}
.card-text {
  margin: 10px;
}

.btn-success {		
	cursor:pointer;	
	font-size:18px;	
  margin: 0px 15px;  
  padding: 5px;
  width: calc(85px + 20vmin);
}

.conteinerMenu{
  background-color: rgb(0, 0, 0);
  width: calc(120px + 20vmin);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.results {
  margin-left: calc(140px + 20vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}

.results h2 {
  margin-top: 20px;
}

.conteinerSons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.pagesBtn {  
  width: calc(60px + 20vmin);
}

